<div class="container">
   <div class="welcome-section">
        <h1>BOOK A CALL WITH US! </h1>
        <P> <strong> Let’s Discuss How We Can Help You Transform Your Tech Solutions</strong></P>
        <P>We understand that every business has unique challenges. Whether you’re looking for custom website development, IT consulting, cloud solutions, or digital transformation, our team at Dynamic Tech Solutions is here to help.
           Schedule a FREE consultation call with one of our experts to discuss your goals, needs, and how we can support your next big project.</P>
    </div>

    <div class="login-section">
        <form action="post">

            <h1>BOOK A CALL</h1>
            <p><strong> Enter Your Information CALL to get a call back.</strong></p>
            <input type="email" placeholder="Enter your full name ">
            <input type="tel" placeholder="Enter phone number">
            <input type="gmail" placeholder="Enter gmail account">
            <input class="message" type="message" placeholder="Message ">
            <a href=""><button class="button one">SEND</button></a>

            
        </form>
        </div>
    
</div>