<header
  style="
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
  "
>
  <img src="/assets/ChatGPT_Image_May_1__2025__10_55_46_AM.png" alt="Logo" />
  <div class="header-container">
    <a routerLink="/"><i class="fa-solid fa-house"></i> Home</a>
    <a routerLink="/shop"><i class="fa-solid fa-cart-shopping"></i> Shop </a>
    <a routerLink="/services"><i class="fa-solid fa-briefcase"></i> Services</a>
    <a routerLink="/aboutus"><i class="fa-solid fa-address-card"></i> About Us</a>
    <a routerLink="call"><i class="fa-solid fa-phone"></i> Schedule A Call</a>
    <a routerLink="/profile"><i class="fa-solid fa-gears"></i> Profile/Settings</a>
  </div>
</header>
