<div class="ev">
 <div>
     <div class="photo">
         <p> Profile/Settings</p>
         <img src="assets/user.png" alt="">
         <p class="name">WELCOME HAKEEM MESSAM</p>
     </div>
 </div>
 <div class="con">
     <div class="settings">
         <button><i class="fa-solid fa-gears"></i>Settings</button>
         <button><i class="fa-solid fa-circle-info"></i>Account information</button>
         <button><i class="fa-solid fa-cart-shopping"></i>Order</button>
         <button> <i class="fa-solid fa-credit-card"></i>Card and Receipts</button>
         <button><i class="fa fa-sign-out" aria-hidden="true"></i>log out</button>
     </div>
 </div>
</div>