<div class="container">
  <input type="search" placeholder="type to search for a product" />
</div>
<div class="div1">
  <div class="div2"><img src="assets/cam__2.png" alt=""><p>Ctronics 2K 3MP Outdoor Security Camera Solar with 6W Panel, 25m Colour Night Vision & Spotlight, PTZ IP WiFi Battery Camera, PIR Detection, 2-Way Audio, PC/APP Remote, FTP/Cloud/128GB, IP66</p></div>
  <div class="div2"><img src="assets/Screenshot_2025-08-02_212810.png" alt=""> <p>TRENDnet 8-Port Cat6 Unshielded RackMount Patch Panel, 10 Inch Wide, 8 x Gigabit RJ-45 Ethernet Ports, TC-P08C6, Black</p></div>
  <div class="div2"><img src="assets/router.png" alt=""><p>ASUS TUF Gaming AX3000 V2 Dual Band WiFi 6 Router with Mobile Tethering (Replacement of 4G 5G routers)2.5Gbps port, Mobile Game Mode, Free Internet Security, AI Mesh, Gear Accelerator, Adaptive QoS</p></div>
  <div class="div2"><img src="assets/swich.png" alt=""><p>NETGEAR 24 Port Gigabit Network Switch GS324 - Ethernet Splitter - Ethernet Switch - Ethernet Hub - Plug-and-Play - Silent Operation - Desktop or Wall Mount</p></div>
  <div class="div2"><img src="assets/cam3.png" alt=""><p>HIKVISION 5MP CCTV SECURITY SYSTEM 4K DVR 8CH 2TB H.265+ HIK 5 MP 2.8MM 8X CAMERAS OUTDOOR NIGHT VISION KIT UK SELLER DS-7208HUHI-K1</p></div>
  <div class="div2"><img src="assets/key_stone_jack.png" alt=""><p>Cable Matters [UL Listed 25-Pack 10Gbps Cat6 Keystone Jacks, RJ45 Keystone Jack</p></div>
  </div>
