p {
  margin-top: 110px;
}
/* welcome part */
.welcome-section {
  max-width: 600px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 250px;
  margin-left: 20px;
  color: white;
}

.welcome-section h1 {
  font-size: 32px;
  font-family: "Times New Roman", Times, serif;
}

.welcome-section p {
  margin-top: 20px;
  line-height: 1.6;
  font-family: "Times New Roman", Times, serif;
}

.welcome-section button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.welcome-section button:hover {
  background-color: white;
  color: black;
}
/* logi in part */
.login-section {
  background-color: rgba(203, 199, 199, 0.6);
  color: black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-left: 800px;
  margin-top: -300px;
  height: auto;
  width: 350px;
  flex-wrap: wrap;
}

.login-section input {
  display: block;
  width: 90%;
  margin: 15px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.login-section button {
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}
.signin {
  margin-top: 10px;
}
.login-section button:hover {
  background-color: white;
  color: black;
}
.button.one {
  width: 55%;
}
.forgot-btn {
  width: 55%;
}
@media (max-width: 768px) {
  .welcome-section {
    justify-content: center;
    align-items: center;
    padding: auto;
    margin-top: 250px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .welcome-section h1 {
    font-size: 34px;
    text-align: center;
    margin-top: -80px;
  }
  .welcome-section p {
    font-size: 16px;
    text-align: center;
  }
  .welcome-section button {
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
  }
  .login-section {
    margin-left: 10px;
    margin-top: 20px;
    width: 90%;
  }
}
