<div class="container">
   <div class="welcome-section">
        <h1>Welcome to Dynamic Tech Solutions</h1>
        <p><strong>Empowering Your Digital Future</strong></p>
        <p>At Dynamic Tech Solutions, we provide reliable, cutting-edge IT services tailored to your needs.
            Whether you're a small business looking to boost your network infrastructure or an individual needing expert computer repair, we’ve got the skills, tools, and passion to help you succeed.</p>
        <button routerLink="signin">Join Us</button>
    </div>

    <div class="login-section">
        <h2>Welcome to Dynamic Tech Solutions</h2>
        <p class="signin">Sign in to get started</p>
        <input type="email" placeholder="Enter gmail account">
        <input type="password" placeholder="Enter password">
        <a href="/signi in.html"><button class="button one">Sign In</button></a>
        <button class="forgot-btn">Forget Password</button>
    </div>
    
</div>