.footer-content {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin-top: auto;
  
 
  margin-bottom:auto;
  height: 30px;
   background: transparent;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
p {
  margin: 0;
  color: white;
}
div{
  margin-top: 100px;
}