<div class="container">
    <div class="div2"><img src="assets/networking.png" alt=""><h1>Network Support & Administration</h1></div>
    <div class="div2"><img class="img1" src="assets/tool.png" alt=""><h1>Computer & Device Repair</h1></div>
    <div class="div2"><img src="assets/coding.png" alt=""><h1>Web Development & Tech Consulting</h1></div>
    <div class="div2"><img src="assets/bulb.png" alt=""><h1>Custom Projects & Software Solutions</h1></div>
    <div class="div2"><img src="assets/cam.png" alt=""><h1>Camera Installation</h1></div>
    
</div>
