.about-us-container{
    margin-top: 130px;
}
h1{
    font-size: 40PX;
    color:white;
    text-align: center;
}
p{
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}